.container
  #call_id
    %center
      .row
        .col-md-12
          %br
          %button.call.btn-lg.btn-danger{onclick: "opentok_client_hangup(this.session);"}
            Hangup
          %br
          #myPublisher
          %br
          #countdown
