.container
  #call_id
    %center
      .row
        .col-md-12
          %br
          %button.call.btn-lg.btn-danger{onclick: "opentok_client_hangup(this.session);"}
            Hangup
          %br
          #myPublisher
          %br
          #countdown
   
  %div.well.pull-left.col-md-4
    %u
      %h4 Current Call
    
    %h3 #{@meeting.performer_name}
    %h4 #{@meeting.performer_country}
    %h5 Duration: #{@meeting.duration}
    
      
      
