.container
  #call_id
    %center
      .row
        .col-md-12 
          %br
          #myPublisher 
          %br
          #countdown
          %br
          %button.call.btn-lg.btn-danger{onclick: "opentok_client_hangup(this.session);"}
            Hangup

