%button.call{onclick: "twilio_client_call();"}
  Call
%button.call{onclick: "twilio_client_hangup();"}
  Hangup
#twilio_client_token{"data-token-id" => "#{@token}"} 
#twilio_client_name{"data-client-name" => "#{@client_name}"} 
%input#number{name: "number", placeholder: "Enter a phone number or client to call", type: "text"}/
#log Loading pigeons...
