<nav class="navbar navbar-default">
    <div class="navbar-header">
            
            {{#link-to 'index' class="navbar-brand" }} Home {{/link-to}}
            <ul class="nav navbar-nav">
                <li>
                    {{#link-to 'meetings.new' }}Create Order{{/link-to}}
                </li>
            </ul>
            
    </div>
</nav>