<nav class="navbar navbar-default">
    <div class="navbar-header">
            
            {{#link-to 'index' class="navbar-brand" }} Home {{/link-to}}
            <ul class="nav navbar-nav">
                <li>
                    {{#link-to 'meetings' }}Sessions list{{/link-to}}
                </li>
                <li>
                    {{#link-to 'new_meetings' }}Create Session{{/link-to}}
                </li>
               
            </ul>
            
    </div>
</nav>