<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
       <a class="navbar-brand" href="#">WebRTC</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'meetings' }}Sessions list{{/link-to}}</li>
      <li>{{#link-to 'new_meetings' }}Create Session{{/link-to}}</li>
    </ul>
    </li>
    </ul>
  </div>
</div>